.container {
    padding-top: 5rem;
}

.row {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.viz-div {
    min-height: 300px !important;
    background-image: radial-gradient(at center center, #f9f7f1 0%, #fffaeb 48%, #f5ede0 100%);
    border-radius: 1rem;
    padding: 0px !important;
}

.charts {
    margin: 10px 0;
}

#activeCounts, #passiveCounts {
    text-align: center;
}

#loadingAnimation{
    top: 50%;
    left: 50%;
    position: absolute;
}

.dd-item-active {
    color: #000000;
    text-decoration: none;
    background-color: #d4d9de;
}

#loadingAnimation {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.5);
    z-index:9999;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#loadingAnimation::after {
    content:'';
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.filter-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #000000;
    font-size: 0.75rem;
    background-color: #ffffff;
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
}

.sub-div-shadow {
    box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.filter-active {
    background-color: #343a40;
    color: #ffffff;
    font-weight: bold;
}

.allow-overflow {
    overflow: auto;
}

table {
    align-content: center;
}

.user-data-ul {
    list-style-type:none
}

.no-wrap {
    white-space: nowrap;
}

.custom-input {
    width: 80% !important;
}

#mainContent {
    padding: 5rem 1rem 1rem 1rem;
}

.search-icon {
    float: right;
    margin-right: 6px;
    margin-top: -26px;
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    padding-left: 4px;
    padding-bottom: 4px;
}

.modal-header {
    background-color: #343a40;
    color: #ffffff;
}

.modal-content {
    border: 0px;
}

.modal-close-btn {
    background-color: #343a40;
    border: 0px;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
}

.participantNotVerified, .participantVerified {
    padding: .075rem .75rem !important;
}

.content-wrapper {
    padding-top: 15px;
}

.footer-content {
    text-align:center;
    box-shadow: 0px -5px 8px rgba(0, 0, 0, 0.12);
    width: 100%;
    background-color: #fff;
    margin: 0px !important;
}

.navbar {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.12);
}

.menu-item {
    display: inline;
    padding: 0.375em 9px;
}

.links-border-right {
    border-right: 1px solid #000000;
}

.footer-links {
    color: #4d4d4d;
    text-decoration: underline;
}

#mainContent {
    background-color: #f5f5f5;
    min-height: calc(100vh - 135px);
}

tbody {
    background-color: #ffffff;
}

table {
    text-align: center;
}

.page-link:hover, #participants {
    cursor: pointer;
}

.active-page {
    color: #ffffff !important;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

#search, #searchId {
    width: 100%;
}

.search-not-found {
    color:red;
    margin-bottom: .75rem;
}

#root-margin {
    margin-top: 30px; 
    margin-bottom: 30px;
}

.sticky-header {
    height: 600px; 
    overflow-y: auto; 
    position: sticky; 
    top: 0;
}

.sticky-header .sticky-row{
    position: sticky; 
    top: 0;
}

.row-color-enrollment-dark td{
    background-color: rgb(239, 185, 250); 
}

.row-color-enrollment-light td{
    background-color: rgb(243, 207, 250); 
}

.row-color-payment td{
    background-color: rgb(176, 230, 192); 
}

.row-color-survey-dark td {
    background-color: rgb(109, 218, 252);
}

.row-color-survey-light td {
    background-color: rgb(201, 236, 247); 
}

.row-color-MenSurvey-light td {
    background-color: rgb(250, 191, 183); 
}

.row-color-sample-dark td {
    background-color: rgb(246, 252, 173); 
}

.row-color-sample-light td {
    background-color: rgb(252, 255, 217); 
}
.row-color-emr-light td {
    background-color: rgb(192, 224, 228); 
}

.ws-nowrap {
    white-space: nowrap;
}

.hovertext {
    position: relative;
  }

  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 2px;
    padding: 5px 5px;
    transition: opacity ease-in-out;
    position: absolute;
    left: -30%;
    top: 170%;
  }
  
  .hovertext:hover:before {
    opacity: 0.8;
    visibility: visible;
  }

.metrics-card p {
    margin: 0;
    padding: 0;
    text-align: center;
}

  .metrics-card {
    background: #ebf1ff;
    width: 350px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 5px 3px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
}

  .card-top {
    width: 350px;
    height: 5px;
    background-color: #168ff7;
    background-image: linear-gradient(to right, #168ff7, #3ecc8e);
    border-radius: 8px 8px 0px 0px;
  }

  .metrics-value {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
  }

  .metrics-value-description {
    color: hsl(228, 12%, 44%);
    text-align: center;
  }

  .ratio-value {
    font-size: large;
    text-align: center;
  }

  .btn-custom {
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    width: 100px;
  }