.container {
    padding-top: 5rem;
}

.row {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.js-plotly-plot {
    background-image: radial-gradient(at center center, #f9f7f1 0%, #fffaeb 48%, #f5ede0 100%);
    border-radius: 1rem;
    margin: 1rem;
}

#loadingAnimation{
    top: 50%;
    left: 50%;
    position: absolute;
}