body {
    color:navy;
    font-family:sans-serif
}
h2 {
    color:blueviolet
}
button {
    border-radius: 15px;
    color:blue
}
td {
    font-family:inherit
}
.col{
    padding: 30px 0 30px 0;
}
.row-first {
    padding-top: 60px;
}
.no-wrap {
    white-space: nowrap;
}